/* Button styles */

.button {
    border-radius: .2em;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    max-width: 100%;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 300ms all linear;
    vertical-align: middle;
}

@custom-selector :--hover .hover, :hover;
@custom-selector :--focus .focus, :focus;

.button:--hover,
.button:--focus {
    background: rgba(0, 0, 0, .05);
    outline: 0;
}
